/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
body {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    background-image: url(../img/railways.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* main container */
.container {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

/* calcs area */
p {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.data,
h1 {
    color: hsl(70, 100%, 50%);
    
}
.data {
    margin-top: 5px;
    font-style: italic;
}
h1 {
    margin-bottom: 30px;
}
